.search-container>input {
    width: 30%;
    height: 30px;
    margin-right: 40px;
    margin-top: 40px;
}

.search-container>button {
    height: 30px;
    width: 100px;
    border: none;
}

.search-container>button:hover {
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}